version: 2.1

orbs:
  python: circleci/python@0.2.1

jobs:
  build-and-test:
    executor: python/default
    steps:
      - checkout
      - python/load-cache
      - python/install-deps
      - run:
          command: pip install --user -r requirements-dev.txt
      - python/save-cache
      - run:
          command: python -m pybaseballdatana.data.tools.update --update-source lahman --make-dirs
      - run:
          command: python -m pytest tests/
          name: Test

workflows:
  main:
    jobs:
      - build-and-test
